* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#invoicetest {
    width: 100%;
    height: 200px;
    background-color: grey;
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    left: 0px;
    top: 0px;
    padding: 20px;
    border: 0px;
    margin: 0 auto;
    /* margin-left: -9px; */
    margin-top: 0px;
}

#invoicetest p {
    text-align: right;
    margin: 0px;
    padding: 0px;

}

#receipt-generator {
    padding-left: 0px;
    padding-right: 0px;
    }

.receipt-wrapper {
    display: none;
}

.invoice {
    width: 100%;
    height: auto;
    padding: 10px 20px 10px 20px;
    /* min-width: 800px; */
}

.invoice .invoiceWrapper {
    width: 100%;
    /* height: 300px; */
    min-height: 300px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #190a0a;
    padding: 20px;
    font-size: 17px;
}

#receiptHeading {
    text-align: center;
}

#receiptSartDate {
    font-weight: bold;
}

#receiptSartDate span {
    font-weight: normal;
}

#companyName span {
    color: blue;
}

#receiptNumber,
#receiptGeneratDate {
    text-align: right;
}

#receiptDeclar {
    padding-top: 15px;
    padding-bottom: 15px;
}

#receiptDeclar span {
    font-weight: bold;
}

#landlord span {
    font-weight: bold;
}

#validationMessage {
    color: red;
    padding-top: 30px;
    margin-left: 2px;
    margin-bottom: 0px;
    display: none;
}

#download-pdf {
    margin-top: 20px;
    float: right;
}

#download-pdf span {
    pointer-events: none;
}

#download-pdf .spinner-grow
{
    display: none;
}

.validation-message {
    color: #e25656;
    padding: 5px 0px 5px 5px;
    /* display: none; */
    margin-bottom: 0px;
    display: none;

}

.revenue{
    border: 1px dashed #9A9A9A;
    text-align: center;
    width: 90px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin: 0px;
    float: right;
    padding: 14px 10px 10px 10px;
}
.revenue p{
margin: 0px;
}

.page-add{
    float: right;
    font-size: 12px;
    padding-right: 20px;
}